.Titles {font-weight: bold;}
.First {text-align: center;}
.red {background-color: rgb(223, 96, 96);}
.green {background-color: aquamarine;}
.gray {background-color: rgb(212, 184, 184);}
.orange {background-color: orange;}
.brown {background-color: burlywood;}
.aqua {background-color: aqua;}
.beige {background-color: antiquewhite;}
.violet {background-color:  rgb(242, 136, 252);}
.almond {background-color: rgb(214, 184, 136);}